{% extends 'base.html' %}
{% block title %}Fuel Supply{% endblock title %}
{%block content %} {% load static %}


<div class="main-content">
  <section class="section">
    

    <div class="section-body">
      

      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h4>Arizalar holati</h4>
            </div>
            <div class="card-body p-0">
              <div class="table-responsive">
                <table class="table table-striped" id = "table-1">
                  <thead>
                    <tr>
                        
                        <th>id</th>
                        <th>Nomi</th>
                        <th>Birligi</th>
                        <th>Jami</th>
                        <th>Tanklar, CAU</th>
                        <th>ART<br>tiyagachi</th>
                        <th>BMP,BTR,<br>Mototsikl</th>
                        <th>Avtomobil</th>
                        <th>Uchuvchi aparatlar</th>
                        <th>Traktor, mexandis texnikalari, qurilish mexanizmi</th>
                        <th>Maxsu mashinalarning avtonom dvigatellari, statsional dvigatellar</th>
                        <th>Ishlab chiqarish va texnik extiyojlar</th>
                        <th>Jami</th>
                        <th>I</th>
                        <th>II</th>
                        <th>III</th>
                        <th>IV</th>


                        
                       
                    </tr>
                  <thead>
                  <tbody>                  
                   
                    <tr>                        
                        {% comment %} <td>1</td>
                        <td><input style ="width:100px"></input></td>
                        <td><input style ="width:30px"></input></td>
                        <td><input style ="width:30px"></input></td>
                        <td><input style ="width:30px"></input></td>
                        <td><input style ="width:30px"></input></td>
                        <td><input style ="width:30px"></input></td>
                        <td><input style ="width:30px"></input></td>
                        <td><input style ="width:30px"></input></td>
                        <td><input style ="width:30px"></input></td>
                        <td><input style ="width:30px"></input></td>
                        <td><input style ="width:30px"></input></td>
                        <td><input style ="width:30px"></input></td>
                        <td><input style ="width:28px"></input></td>
                        <td><input style ="width:28px"></input></td>
                        <td><input style ="width:28px"></input></td>
                        <td><input style ="width:28px"></input></td>

 {% endcomment %}

 <td>1</td>
 <td>1</td>
 <td>1</td>
 <td>1</td>
 
 <td>1</td>
 <td>1</td>
 <td>1</td>
 <td>1</td>
 <td>1</td>
 <td>1</td>
 <td>1</td>
 <td>1</td>
 <td>1</td>
 <td>1</td>
 <td>1</td>


 <td>1</td>
 <td>1</td>


 

                                         
                    
                    </tr>
                 
                  <tbody>
                    
                </table>
                <div class="card-footer text-center"><button class="btn btn-success"  type="submit">ㅤㅤㅤㅤQo'shishㅤㅤㅤㅤ</button> </div>    
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </section>
</div> 

</div>



{% endblock content %}



