{% extends 'base.html' %}
{% block title %}Fuel Supply{% endblock title %}
{%block content %} {% load static %}





<!-- Main Content -->
<div class="main-content">
  <section class="section">
    <div class="section-header">
      <h1>Arizalar holatlari</h1>
      <!-- <div class="section-header-breadcrumb">
        <div class="breadcrumb-item active"><a href="#">Dashboard</a></div>
        <div class="breadcrumb-item"><a href="#">Modules</a></div>
        <div class="breadcrumb-item">DataTables</div>
      </div> -->
    </div>

    <div class="section-body">
      <h2 class="section-title">Umumiy holat</h2>
      <p class="section-lead">
        UMUMIY HOLAT BO'YICHA TAQSIMLARNISHI <a href="https://datatables.net/"></a>.
      </p>

      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h4>ASASIY JADVAL</h4>
            </div>
            <div class="card-body p-0">
              <div class="table-responsive">
                <table class="table table-striped">
                  <tr>
                    <th>
                      <div class="custom-checkbox custom-control">
                        <input type="checkbox" data-checkboxes="mygroup" data-checkbox-role="dad" class="custom-control-input" id="checkbox-all">
                        <label for="checkbox-all" class="custom-control-label">&nbsp;</label>
                      </div>
                    </th>
                    <th>Nomeri</th>
                    <th>FIO</th>
                    <th>Xizmat boshlig'i</th>
                    <th>Texnik ko'rik</th>
                    <th>Yoqilgi</th>
                    <th>Harakati</th>
                  </tr>
                  <tr>
                    <td class="p-0 text-center">
                      <div class="custom-checkbox custom-control">
                        <input type="checkbox" data-checkboxes="mygroup" class="custom-control-input" id="checkbox-1">
                        <label for="checkbox-1" class="custom-control-label">&nbsp;</label>
                      </div>
                    </td>
                    <td>012389MV</td>
                    <td>Anvarov Akbarali Abobakir o'gli</td>
                    <td><div class="badge badge-success">Bajarilgan</div></td>
                    <td><div class="badge badge-success">Bajarilmagan</div></td>
                    <td><div class="badge badge-success">Bajarilgan</div></td>
                    <td><a href="#" class="btn btn-outline-success">Yuborish</a></td>
                  </tr>
                  
                  
                  <tr>
                    <td class="p-0 text-center">
                      <div class="custom-checkbox custom-control">
                        <input type="checkbox" data-checkboxes="mygroup" class="custom-control-input" id="checkbox-1">
                        <label for="checkbox-1" class="custom-control-label">&nbsp;</label>
                      </div>
                    </td>
                    <td>012389MV</td>
                    <td>Anvarov Akbarali Abobakir o'gli</td>
                    <td><div class="badge badge-success">Bajarilgan</div></td>
                    <td><div class="badge bg-warning">Bajarilmagan</div></td>
                    <td><div class="badge badge-success">Bajarilmagan</div></td>
                    <td><a href="#" class="btn btn-outline-success">Yuborish</a></td>
                  </tr>


                  <tr>
                    <td class="p-0 text-center">
                      <div class="custom-checkbox custom-control">
                        <input type="checkbox" data-checkboxes="mygroup" class="custom-control-input" id="checkbox-1">
                        <label for="checkbox-1" class="custom-control-label">&nbsp;</label>
                      </div>
                    </td>
                    <td>502389MV</td>
                    <td>Mamajonov Diyorjon Zafarjon o'gli</td>
                    <td><div class="badge bg-warning">Bajarilgan</div></td>
                    <td><div class="badge badge-success">Bajarilmagan</div></td>
                    <td><div class="badge badge-success">Bajarilgan</div></td>
                    <td><a href="#" class="btn btn-outline-success">Yuborish</a></td>
                  </tr>

                  <tr>
                    <td class="p-0 text-center">
                      <div class="custom-checkbox custom-control">
                        <input type="checkbox" data-checkboxes="mygroup" class="custom-control-input" id="checkbox-1">
                        <label for="checkbox-1" class="custom-control-label">&nbsp;</label>
                      </div>
                    </td>
                    <td>802389MV</td>
                    <td>Otamirzayev Shohimardon Ilg'orjon o'gli</td>
                    <td><div class="badge badge-success">Bajarilgan</div></td>
                    <td><div class="badge bg-warning">Bajarilmagan</div></td>
                    <td><div class="badge bg-warning">Bajarilgan</div></td>
                    <td><a href="#" class="btn btn-outline-success">Yuborish</a></td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </section>
</div>

</div>





{% endblock content %}



