{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
  <title>{% block title %} Fuel Supply {% endblock title %}</title>

  <!-- General CSS Files -->
  <link rel="stylesheet" href="{% static 'assets/modules/bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/modules/fontawesome/css/all.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/modules/select2/dist/css/select2.min.css' %}">

  <!-- CSS Libraries -->
  <link rel="stylesheet" href="{% static 'assets/modules/jqvmap/dist/jqvmap.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/modules/summernote/summernote-bs4.css' %}">
  <link rel="stylesheet" href="{% static 'assets/modules/owlcarousel2/dist/assets/owl.carousel.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/modules/owlcarousel2/dist/assets/owl.theme.default.min.css' %}">

  <!-- Template CSS -->
  <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/components.css' %}">

  <!-- GRFIK UCHUN -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
  <!-- ENDGRFIK UCHUN -->
<!-- Start GA -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-94034622-3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-94034622-3');
</script>
<!-- /END GA --></head>

<body>
  <div id="app">
    <div class="main-wrapper main-wrapper-1">
      <div class="navbar-bg"></div>
      <nav class="navbar navbar-expand-lg main-navbar">
        <form class="form-inline mr-auto">
          <ul class="navbar-nav mr-3">
            <li><a href="#" data-toggle="sidebar" class="nav-link nav-link-lg"><i class="fas fa-bars"></i></a></li>
            <li><a href="#" data-toggle="search" class="nav-link nav-link-lg d-sm-none"><i class="fas fa-search"></i></a></li>
          </ul>
          <div class="search-element">
            <input class="form-control" type="Qidiruv" placeholder="Qidiruv" aria-label="Qidiruv" data-width="250">
            <button class="btn" type="submit"><i class="fas fa-search"></i></button>
            <div class="search-backdrop"></div>
           
          </div>
        </form>
        <ul class="navbar-nav navbar-right">
          
          <li class="dropdown dropdown-list-toggle"><a href="#" data-toggle="dropdown" class="nav-link notification-toggle nav-link-lg beep"><i class="far fa-bell"></i></a>
            <div class="dropdown-menu dropdown-list dropdown-menu-right">
              <div class="dropdown-header">Bildirishnomalar
                <div class="float-right">
                  <a href="#">Hammasini o'qildi deb belgilash</a>
                </div>
              </div>
              <div class="dropdown-list-content dropdown-list-icons">
                <a href="#" class="dropdown-item dropdown-item-unread">
                  <div class="dropdown-item-icon bg-primary text-white">
                    <i class="fas fa-code"></i>
                  </div>
                  <div class="dropdown-item-desc">
                    86729 begona flesh xotira!
                    <div class="time text-primary">2 kun oldin</div>
                  </div>
                </a>
                
              </div>
              <div class="dropdown-footer text-center">
                <a href="#">View All <i class="fas fa-chevron-right"></i></a>
              </div>
            </div>
          </li>
          <li class="dropdown"><a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg nav-link-user">
            <img alt="image" src="{% static 'assets/11.png' %}"  class="rounded-circle mr-1">
            <img alt="image" src="{% static 'assets/img/avatar/avatar-1.png' %}"  class="rounded-circle mr-1">
            
            <div class="d-sm-none d-lg-inline-block">{{ user.first_name}} {{ user.last_name}}</div></a>
            <div class="dropdown-menu dropdown-menu-right">
              <div class="dropdown-title"></div>
              <a href="#" class="dropdown-item has-icon">
                <i class="far fa-user"></i> Profil
              </a>
              <a href="#" class="dropdown-item has-icon">
                <i class="fas fa-cog"></i> Sozlamlar
              </a>
              <div class="dropdown-divider"></div>
              <a href="{% url "logout" %}" class="dropdown-item has-icon text-danger">
                <i class="fas fa-sign-out-alt"></i> Tizimdan chiqish
              </a>
            </div>
          </li>
        </ul>
      </nav>
      <div class="main-sidebar sidebar-style-2">
        <aside id="sidebar-wrapper">
          <div class="sidebar-brand">
            
            <a href="{% url 'dashboard' %}"><img alt="image" width="60" height="40" src="{% static 'assets/11.png' %}" >MV KXM</a>
          </div>
          <div class="sidebar-brand sidebar-brand-sm">
            <a href="{% url 'dashboard' %}">FS</a>
          </div>
          <ul class="sidebar-menu">
            <li class="dropdown active">
              <a href="{% url "driver" %}" class="nav-link "><i class="fas fa-th"></i><span>Bo'limlar</span></a>              
            </li>
           {% comment %}  <li class="menu-header"><a class="nav-link" ></a></li>

            <li class="dropdown active">
              <a href="{% url 'showing' %}" class="nav-link "><i class="fas fa-th"></i><span>Ariza Holati</span></a>              
            </li>

           
            <li class="dropdown active">
              <a href="{% url 'dashboard' %}" class="nav-link "><i class="fas fa-fire"></i><span>Bosh sahifa</span></a>              
            </li>

            <li class="dropdown active">
              <a href="{% url 'add_fuel' %}" class="nav-link "><i class="fas fa-envelope"></i><span>Yoqilg'ilarni qo'shish</span></a>              
            </li>

            <li class="dropdown active">
              <a href="{% url 'showing' %}" class="nav-link "><i class="fas fa-th"></i><span>Ariza Holati</span></a>              
            </li>


            <li class="dropdown active">
                <a href="{% url "application" %}" class="nav-link "><i class="fas fa-monument"></i><span>Ariza qoldirish</span></a>              
              </li>

              <li class="dropdown active">
                <a href="{% url "applications" %}" class="nav-link "><i class="fas fa-map-marker"></i><span>Arizalar holati</span></a>              
              </li>

              <li class="dropdown active">
                <a href="{% url "headquarters" pk=1 %}" class="nav-link "><i class="fas fa-envelope"></i><span>Xizmat boshlig'i</span></a>              
              </li>

              <li class="dropdown active">
                <a href="{% url "inspection" %}" class="nav-link "><i class="fas fa-receipt"></i><span>Texnik ko'rik</span></a>              
              </li>

              <li class="dropdown active">
                <a href="{% url "petrol" %}" class="nav-link "><i class="fas fa-file-invoice"></i><span>Yoqilg'i</span></a>              
              </li>

              <li class="dropdown active">
                <a href="{% url "parking" %}" class="nav-link "><i class="fas fa-rocket"></i><span>Avtopark</span></a>              
              </li>

              <li class="dropdown active">
                <a href="{% url "driver" %}" class="nav-link "><i class="fas fa-th"></i><span>Haydovchi</span></a>              
              </li>
          
            

              <li class="dropdown">
                <a href="" class="nav-link has-dropdown"><i class="fas fa-print"></i> <span>Chop etish</span></a>
                <ul class="dropdown-menu">
                  <li><a class="nav-link" href="{% url "N_avto" %}">1-page</a></li>
                  <li><a class="nav-link" href="{% url "N_zayafka" %}">2-page</a></li>
                  <li><a class="nav-link" href="{% url "N3" %}">3-page</a></li>
                  <li><a class="nav-link" href="{% url "N4" %}">4-page</a></li>
                  <li><a class="nav-link" href="{% url "N5" %}">5-page</a></li>
                  <li><a class="nav-link" href="{% url "N6" %}">6-page</a></li>
                  <li><a class="nav-link" href="{% url "N7" %}">7-page</a></li>  
                  <li><a class="nav-link" href="{% url "N8" %}">8-page</a></li>  
                  <li><a class="nav-link" href="{% url "N9zayafka" %}">9-page</a></li>  
                  <li><a class="nav-link" href="{% url "Nback" %}">10-page</a></li>  
                  <li><a class="nav-link" href="{% url "Ndallot" %}">11-page</a></li>  
                  <li><a class="nav-link" href="{% url "Nmoy" %}">12-page</a></li>
                  <li><a class="nav-link" href="{% url "add_fuel" %}">13-page</a></li> 
                  <li><a class="nav-link" href="{% url "Nxisobot" %}">14-page</a></li>     

             
                </ul>
              </li>  {% endcomment %}

          </ul>

         </aside>
       </div>
      </div>
  </div>
  
  
 </div>
 <!-- END NAVBAR -->


 #asosiy
 {% block content %} {% endblock content %}



 

<!-- START FOOTER -->
   <footer class="main-footer">
    <div class="footer-left">
      
      Copyright &copy; 2025 <div class="bullet"></div>Owner:<a href=""><img class="mr-3 rounded" width="25" src="{% static 'assets/55.png ' %}" alt="">JG'MHO KXM</a>
    </div>
    <div class="footer-right">
      
    </div>
  </footer>
</div>
</div>

<!-- General JS Scripts -->
<script src="{% static 'assets/modules/jquery.min.js' %}"></script>
<script src="{% static 'assets/modules/popper.js' %}"></script>
<script src="{% static 'assets/modules/tooltip.js' %}"></script>
<script src="{% static 'assets/modules/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/modules/nicescroll/jquery.nicescroll.min.js' %}"></script>
<script src="{% static 'assets/modules/moment.min.js' %}"></script>
<script src="{% static 'assets/js/stisla.js' %}"></script>

<!-- JS Libraies -->
<script src="{% static 'assets/modules/jquery.sparkline.min.js' %}"></script>
<script src="{% static 'assets/modules/chart.min.js' %}"></script>
<script src="{% static 'assets/modules/owlcarousel2/dist/owl.carousel.min.js' %}"></script>
<script src="{% static 'assets/modules/summernote/summernote-bs4.js' %}"></script>
<script src="{% static 'assets/modules/chocolat/dist/js/jquery.chocolat.min.js' %}"></script>
<script src="{% static 'assets/modules/bootstrap-timepicker/js/bootstrap-timepicker.min.js' %}"></script>
<script src="{% static 'assets/modules/bootstrap-daterangepicker/daterangepicker.js' %}"></script>
<script src="{% static 'assets/modules/select2/dist/js/select2.full.min.js' %}"></script>

<!-- Page Specific JS File -->
<script src="{% static 'assets/js/page/index.js' %}"></script>

 <!-- JS Libraies -->
 <script src="{% static 'assets/modules/datatables/datatables.min.js' %}"></script>
 <script src="{% static 'assets/modules/datatables/DataTables-1.10.16/js/dataTables.bootstrap4.min.js' %}"></script>
 <script src="{% static 'assets/modules/datatables/Select-1.2.4/js/dataTables.select.min.js' %}"></script>
 <script src="{% static 'assets/modules/jquery-ui/jquery-ui.min.js' %}"></script>

 <!-- Page Specific JS File -->
 <script src="{% static 'assets/js/page/modules-datatables.js' %}"></script>
 
 <!-- Template JS File -->
 <script src="{% static 'assets/js/scripts.js' %}"></script>
 <script src="{% static 'assets/js/custom.js' %}"></script>

    <!-- JS Libraies -->
    <script src="{% static 'assets/modules/izitoast/js/iziToast.min.js' %}"></script>

   <!-- Page Specific JS File -->
   <script src="{% static 'assets/js/page/modules-toastr.js' %}"></script>
   
<!-- Template JS File -->
<script src="{% static 'assets/js/scripts.js' %}"></script>
<script src="{% static 'assets/js/custom.js' %}"></script>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
 
 


</body>
</html>
