{% extends 'base.html' %} {% block title %}Fuel Supply{% endblock title %}
{%block content %} {% load static %}

<!-- Main Content -->
<div class="main-content">
  <section class="section">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="card card-statistic-2">
          <div class="card-stats">
            <div class="card-stats-title">
              Buyurtma statistikasi -
              <div class="dropdown d-inline">
                <a
                  class="font-weight-600 dropdown-toggle"
                  data-toggle="dropdown"
                  href="#"
                  id="orders-month"
                  >Avgust</a
                >
                <ul class="dropdown-menu dropdown-menu-sm">
                  <li class="dropdown-title">Oyni tanlang</li>
                  <li><a href="#" class="dropdown-item">Yanvar</a></li>
                  <li><a href="#" class="dropdown-item">Fevral</a></li>
                  <li><a href="#" class="dropdown-item">Mart</a></li>
                  <li><a href="#" class="dropdown-item">Aprel</a></li>
                  <li><a href="#" class="dropdown-item">May</a></li>
                  <li><a href="#" class="dropdown-item">Iyun</a></li>
                  <li><a href="#" class="dropdown-item">Iyul</a></li>
                  <li><a href="#" class="dropdown-item active">Avgust</a></li>
                  <li><a href="#" class="dropdown-item">Sentyabr</a></li>
                  <li><a href="#" class="dropdown-item">Oktabr</a></li>
                  <li><a href="#" class="dropdown-item">Noyabr</a></li>
                  <li><a href="#" class="dropdown-item">Dekabr</a></li>
                </ul>
              </div>
            </div>
            <div class="card-stats-items">
              <div class="card-stats-item">
                <div class="card-stats-item-count">24</div>
                <div class="card-stats-item-label">Kutilmoqda</div>
              </div>
              <div class="card-stats-item">
                <div class="card-stats-item-count">12</div>
                <div class="card-stats-item-label">Bajarilmoqda</div>
              </div>
              <div class="card-stats-item">
                <div class="card-stats-item-count">23</div>
                <div class="card-stats-item-label">Bajarilgan</div>
              </div>
            </div>
          </div>
          <div style="display: inline;">
            <i class="fas fa-receipt" style="display: inline;"><img
              class="mr-3 rounded"
              width="80"
              src="{% static 'assets/gif/line-chart.gif' %}"
              alt="product"
            />
            <span class="card-stats-item-count"  style="display: inline; font-size:20px">Umumiy:<b>59</b></span>
            </i>
          </div>          
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="card card-statistic-2">
          <div class="card-chart">
            <canvas id="balance-chart" height="80"></canvas>
          </div>
          <div class="">
            <i class="fas fa-receipt" style="display: inline;"><img
              class="mr-3 rounded"
              width="80"
              src="{% static 'assets/gif/layers.gif' %}"
              alt="product"
            />
            <span class="card-stats-item-count"  style="display: inline; font-size:20px">Bekorqilingan:<b>59</b></span>
          </i>
        </div>          
      </div>
    </div></i>
        
      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="card card-statistic-2">
          <div class="card-chart">
            <canvas id="sales-chart" height="80"></canvas>
          </div>
          <i class="fas fa-receipt" style="display: inline;"><img
            class="mr-3 rounded"
            width="80"
              src="{% static 'assets/gif/flow-chart.gif' %}"
              alt="product"
            />
            <span class="card-stats-item-count"  style="display: inline; font-size:20px">Bajarilgan:<b>59</b></span>
          </i>
        </div>          
      </div>
    </div></i>
        
    <div class="row">
      <div class="col-lg-8">
        <div class="card">
          <div class="card-header">
            <h4>Umumiy grafik</h4>
          </div>
          <div class="card-body">
            <canvas id="myChart" style="width:100%;max-width:600px"></canvas>

                              <script>
                var xValues = ["Sentabr", "Oktabr", "Noyabr", "Dekabr", "Yanvar"];
                var yValues = [14, 23, 57, 44, 53];
                var barColors = [
                  "rgba(255,133,0,0.3)",
                  "rgba(5,0,231,0.4)",
                  "rgba(5,123,0234,0.6)",
                  "rgba(55,34,223,0.8)",
                  "rgba(25,111,33,1.0)"
                ];

                new Chart("myChart", {
                  type: "bar",
                  data: {
                    labels: xValues,
                    datasets: [{
                      backgroundColor: barColors,
                      data: yValues
                    }]
                  },
                  options: {
                    legend: {display: false},
                    scales: {
                      yAxes: [{
                        ticks: {
                          beginAtZero: true
                        }
                      }],
                    }
                  }
                });
                </script>

          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card gradient-bottom">
          <div class="card-header">
            <h4>Bizda bor </h4>
            <div class="card-header-action dropdown">
              <a
                href="#"
                data-toggle="dropdown"
                class="btn btn-danger dropdown-toggle"
                >Oy</a
              >
              <ul class="dropdown-menu dropdown-menu-sm dropdown-menu-right">
                <li class="dropdown-title">Oyni tanlang</li>
                <li><a href="#" class="dropdown-item">Bugun</a></li>
                <li><a href="#" class="dropdown-item">Hafta</a></li>
                <li><a href="#" class="dropdown-item active">Oy</a></li>
                <li><a href="#" class="dropdown-item">Bu yil</a></li>
              </ul>
            </div>
          </div>
          {% comment %} <div class="card-body" id="top-5-scroll">
            <ul class="list-unstyled list-unstyled-border">
              <li class="media">
                <img
                  class="mr-3 rounded"
                  width="55"
                  src="{% static 'assets/gif/tank.gif' %}"
                  alt="product"
                />
                <div class="media-body">
                  <div class="float-right">
                    <div class="font-weight-600 text-muted text-small">
                      86 Zirxli
                    </div>
                  </div>
                  <div class="media-title">T213</div>
                  <div class="mt-1">
                    <div class="budget-price">
                      <div
                        class="budget-price-square bg-primary"
                        data-width="64%"
                      ></div>
                      <div class="budget-price-label">23</div>
                    </div>
                    <div class="budget-price">
                      <div
                        class="budget-price-square bg-danger"
                        data-width="43%"
                      ></div>
                      <div class="budget-price-label">11</div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="media">
                <img
                  class="mr-3 rounded"
                  width="55"
                  src="{% static 'assets/gif/car.gif' %}"
                  alt="product"
                />
                <div class="media-body">
                  <div class="float-right">
                    <div class="font-weight-600 text-muted text-small">
                      Yengil avtomabil
                    </div>
                  </div>
                  <div class="media-title">Nexia</div>
                  <div class="mt-1">
                    <div class="budget-price">
                      <div
                        class="budget-price-square bg-primary"
                        data-width="84%"
                      ></div>
                      <div class="budget-price-label">234</div>
                    </div>
                    <div class="budget-price">
                      <div
                        class="budget-price-square bg-danger"
                        data-width="60%"
                      ></div>
                      <div class="budget-price-label">1232</div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="media">
                <img
                  class="mr-3 rounded"
                  width="55"
                  src="{% static 'assets/gif/excavator.gif' %}"
                  alt="product"
                />
                <div class="media-body">
                  <div class="float-right">
                    <div class="font-weight-600 text-muted text-small">
                      Yuk avtomabil
                    </div>
                  </div>
                  <div class="media-title">Ekskavator</div>
                  <div class="mt-1">
                    <div class="budget-price">
                      <div
                        class="budget-price-square bg-primary"
                        data-width="34%"
                      ></div>
                      <div class="budget-price-label">23</div>
                    </div>
                    <div class="budget-price">
                      <div
                        class="budget-price-square bg-danger"
                        data-width="28%"
                      ></div>
                      <div class="budget-price-label">32</div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="media">
                <img
                  class="mr-3 rounded"
                  width="55"
                  src="{% static 'assets/gif/airplane.gif' %}"
                  alt="product"
                />
                <div class="media-body">
                  <div class="float-right">
                    <div class="font-weight-600 text-muted text-small">
                      Samalyot
                    </div>
                  </div>
                  <div class="media-title">Boing 727</div>
                  <div class="mt-1">
                    <div class="budget-price">
                      <div
                        class="budget-price-square bg-primary"
                        data-width="45%"
                      ></div>
                      <div class="budget-price-label">2323</div>
                    </div>
                    <div class="budget-price">
                      <div
                        class="budget-price-square bg-danger"
                        data-width="30%"
                      ></div>
                      <div class="budget-price-label">232</div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div> {% endcomment %}

          <div class="card-footer pt-3 d-flex justify-content-center">
            <div class="budget-price justify-content-center">
              <div class="budget-price-square bg-primary" data-width="20"></div>
              <div class="budget-price-label">Yaroqlik</div>
            </div>
            <div class="budget-price justify-content-center">
              <div class="budget-price-square bg-danger" data-width="20"></div>
              <div class="budget-price-label">Texnik hizmatda</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

{% endblock content %}
