{% extends 'base.html' %}
{% block title %}Fuel Supply{% endblock title %}
{%block content %} {% load static %}


{% if messages %}
  {% for message in messages %}
    <div class="alert alert-{{ message.tags }} id="toastr-1"">
      {{ Yuborildi }}
    </div>
  {% endfor %}
{% endif %}



<!-- Main Content -->
<div class="main-content">
  <section class="section">
    <div class="section-header">
      <h1>Texnik ko'rik o'tkazish</h1>
      <!-- <div class="section-header-breadcrumb">
        <div class="breadcrumb-item active"><a href="#">Dashboard</a></div>
        <div class="breadcrumb-item"><a href="#">Modules</a></div>
        <div class="breadcrumb-item">DataTables</div>
      </div> -->
    </div>

    <div class="section-body">
      
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h4>ASASIY JADVAL</h4>
            </div>
            <div class="card-body p-0">
              <div class="table-responsive">

                <form action="" method="POST">
                    {% csrf_token %}
                    <table class="table table-striped">
                        <tr>
                            <th>Nomeri</th>
                            <th>Vaqti</th>
                            <th>Holati</th>
                        </tr>

                        {% for ve in application.vehicles.all  %}

                            <tr>
                                <td>{{ ve.number }}</td>
                                
                                <td> {{ application.date_time | date:"d.m.Y H:i" }} </td>
                                <td><div class="form-group">
                                <label class="form-label">Texnikani umumiy holati</label>
                                <div class="selectgroup w-100">
                                    <label class="selectgroup-item">
                                    <input type="radio" name="{{ve.id}}" value="unsatisfactory" class="selectgroup-input" required>
                                    <span class="selectgroup-button">Qoniqarsiz</span>
                                    </label>
                                    <label class="selectgroup-item">
                                    <input type="radio" name="{{ve.id}}" value="satisfactory" class="selectgroup-input" required>
                                    <span class="selectgroup-button">Qoniqarli</span>
                                    </label>
                                    <label class="selectgroup-item">
                                    <input type="radio" name="{{ve.id}}" value="good" class="selectgroup-input" required>
                                    <span class="selectgroup-button">Yaxshi</span>
                                    </label>
                                    <label class="selectgroup-item">
                                    <input type="radio" name="{{ve.id}}" value="excellent" class="selectgroup-input" required>
                                    <span class="selectgroup-button">A'lo</span>
                                    </label>
                                </div>
                                </div></td>
                                
                            </tr>
                        {% endfor %}
                    </table>
                    {% comment %} <a href="#" class="btn btn-outline-success">Yuborish</a>     {% endcomment %}
                    <div class="card-footer text-center"><button class="btn btn-success"  id="toastr-2" type="submit">ㅤㅤㅤㅤYuborishㅤㅤㅤㅤ</button> </div>
                                           
                </form>
                
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </section>
</div>

</div>






{% endblock content %}



